
<link rel="preload" href="https://cdn.jsdelivr.net/gh/orioncactus/pretendard/dist/web/static/pretendard-dynamic-subset.css" as="style">
<nav class="nav">
    <div class="nav-container">
      <ul>
        <li class="transition">
          <a href="/" {% if page.url == "/" %}class="active"{% endif %}>Home</a>
        </li>
        {% for menu in site.data.menu %}
        <li class="transition">
          <a href="/{{menu.id}}" {% if page.url contains menu.id %}class="active"{% endif %}> 
            {{ menu.label }}
          </a>
        </li>
        {% endfor %}
      </ul>
    </div>
  </nav>

