---
layout: default
category: blog
---


<main id="content" class="content" role="blog">


    <div class="extra-pagination inner">
        {% include pagination.html %}
    </div>

    {% for category in site.categories %}
    {% if page.category == category.first %}
    {% for post in category[1] %}
    <article class="post">
        <header class="post-header">
            <h2 class="post-title"><a href="{{ post.url | relative_url }}">{{ post.title }}</a></h2>
        </header>
        <section class="post-excerpt">
            {{ post.excerpt }} <a class="read-more" href="{{ post.url | relative_url }}">&raquo;</a>
        </section>
        <footer class="post-meta">  
            <time class="post-date" datetime="{{ post.date | date:"%Y-%m-%d" }}">
                {{ post.date | date_to_string }}
            </time> 
        </footer>
    </article>
    {% endfor %}
    {% endif %}
    {% endfor %}

    {% include pagination.html %}

</main>


      

